.card{
  box-shadow: 0 4px 8px #09ff00;
    transition: 0.3s;
    width: 40%p;
    position: absolute;
    width: 30%;
    height: 30%;
    left: 50%;
    top: 60%;
    right: 50%;
    color: white;
    text-align: center;
    background-color: greenyellow;
    
}
